table {width:65%;
		margin-left:auto;
		margin-right:auto;}

		.menu {text-align: center;
			width:60%;}

		.menuword {width:23%;}

		.menuwordselect {width:23%; font-weight:bolder; font-style:italic;}

		.menupipe {width:1%;}

body {
	font-family:"Comic Sans MS", cursive, sans-serif;
	background-image:url("images/AAAAAAAAAAAAAAAAAAAAAAAAA.jfif"); 
}
